.education-section {
  background: linear-gradient(135deg, #1c102b, #0b061a, #0b061a);
  color: white;
  padding: 40px 0;
  margin-top: -30px;  
  
}
.timeline {
  position: relative;
  width: 70%;
  margin: auto;
  padding-right: 60px;
}

.timeline-line {
  position: absolute;
  top: 0;
  right: 65px;
  width: 3px;
  height: 100%;
  background-color: #a362ea;
  z-index: 0;
}

.timeline-item {
  position: relative;
  margin-bottom: 0px;
  padding: 10px;
  background-color: #14121f;
  border: 1px solid #a362ea;
  border-radius: 10px;
  z-index: 1;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
}

.edu-header {
  display: flex;
  align-items: center;
  gap: 10px;
  text-align: left;
}

.edu-logo {
  width: 60px;
  height: 60px;
  object-fit: cover;
  border-radius: 8px;
}

.edu-text {
  flex: 1;
  padding-left: 20px;
}

.edu-grade {
  text-align: left;
  margin-top: 5px;
}

.timeline-dot {
  position: relative;
  height: 40px;
}

.timeline-dot::before {
  content: '';
  position: absolute;
  top: 50%;
  right: -0.0px;
  transform: translateY(-20%);
  width: 14px;
  height: 14px;
  background-color: #d63384;
  border: 2px solid #a64ac9;
  border-radius: 50%;
  z-index: 2;
}
 .custom-underline2 {
  width: 170px;
  height: 3px;
  background: linear-gradient(to right, #a100ff, #dd00ff);
  border: none;
  margin: 0 auto 20px auto; 
  border-radius: 2px;
}
@media (max-width: 900px) {
  .timeline {
    width: 95%;
    padding-right: 40px; 
  }

  .timeline-line {
    right: 20px; 
  }

  .timeline-item {
    width: 100%;
    padding: 15px 15px 15px 15px;
    margin-bottom: 0px; 
  }

  .edu-header {
    flex-direction: column;
    align-items: center; 
    gap: 10px;
    text-align: center;
  }

  .edu-logo {
    width: 60px;
    height: 60px;
    margin-bottom: 8px;
  }

  .edu-text {
    padding-left: 10; 
  }

  .edu-grade {
    text-align: center;
    margin-top: 0px;
  }

  .timeline-dot::before {
    right: -25px; 
  }
  .text{
    margin-left: 10px ;
    margin-right: 10px;
    font-size: 1.1rem;
  }
}
